<div *ngFor="let order of orders" class="card mb-3">
  <div class="card-header">
    <h5 class="card-title">Order ID: {{ order.id }}</h5>
    <p class="card-text">Date: {{ order.date | date: 'medium' }}</p>
<!--    <p class="card-text">Status: {{ order.status }}</p>-->
  </div>

  <div class="card-body">
    <div *ngFor="let item of order.cart" class="card mb-2">
      <div class="card-body">
        <h6 class="card-title">{{ item.item.name }}</h6>
        <p class="card-text">Quantity: {{ item.quantity }}</p>
        <p class="card-text">Subtotal: {{ (item.item.price | getNumberPrice) * item.quantity | currency }}</p>
      </div>
    </div>
  </div>

  <div class="card-footer">
    <p class="card-text">Total: {{ order.totalPrice | currency }}</p>
    <p class="card-text">User ID: {{ order.userId }}</p>
    <p class="card-text">Shipping Address: {{ order.shipping.address }}, {{ order.shipping.city }}, {{ order.shipping.country }}</p>
  </div>
</div>
