<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://fakeimg.pl/150x150" class="img-fluid object-fit-cover h-100 rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{restaurant.name}}</h5>
        <p class="card-text">{{restaurant.description | restaurantDescription}}</p>
        <p class="card-text"><small class="text-muted">{{restaurant.address}}</small></p>
        <a [routerLink]="restaurant.id" class="btn btn-dark">View menu</a>
      </div>
    </div>
  </div>
</div>
