<ng-container *ngIf="{
  isLoading: isLoading$ | async
  } as data">
  <div
    class="container"
    #modal
  >
    <div class="row h-100 d-flex align-items-center justify-content-center flex-column gap-2 py-2">
<!--      <app-error-card [error]="data.error"></app-error-card>-->
      <h2 class="text-center">{{'REGISTER.TITLE' | translate}}</h2>
      <form
        #form="ngForm"
        class="col-md-6 col-12 form-group"
        (ngSubmit)="register(form)"
        [ngFormOptions]="{ updateOn: 'change' }"
        autocomplete="off"
      >
        <label for="login">{{'REGISTER.INPUTS.LOGIN' | translate}}</label>
        <input
          #loginControl="ngModel"
          [(ngModel)]="registerForm.login"
          required
          name="login"
          type="text"
          class="form-control my-2"
          id="login"
          placeholder="{{'REGISTER.INPUTS.LOGIN' | translate}}"
          appCheckNames
          appErrorMessage
        >
        <label for="email">{{'REGISTER.INPUTS.EMAIL' | translate}}</label>
        <input
          #mailControl="ngModel"
          [(ngModel)]="registerForm.mail"
          required
          email
          name="mail"
          type="email"
          class="form-control my-2"
          id="email"
          placeholder="{{'REGISTER.INPUTS.EMAIL' | translate}}"
          appErrorMessage
        />
        <label for="restaurantName">{{'REGISTER.INPUTS.RESTAURANT.NAME' | translate}}</label>
        <input
          #restaurantNameControl="ngModel"
          [(ngModel)]="registerForm.restaurantName"
          required
          name="restaurantName"
          type="text"
          class="form-control my-2"
          id="restaurantName"
          placeholder="{{'REGISTER.INPUTS.RESTAURANT.NAME' | translate}}"
          appErrorMessage
        />
        <label for="address">{{'REGISTER.INPUTS.RESTAURANT.ADDRESS' | translate}}</label>
        <input
          #restaurantAddressControl="ngModel"
          [(ngModel)]="registerForm.restaurantAddress"
          required
          name="restaurantAddress"
          type="text"
          class="form-control my-2"
          id="address"
          placeholder="{{'REGISTER.INPUTS.RESTAURANT.ADDRESS' | translate}}"
          appErrorMessage
        />
        <label for="password">{{'REGISTER.INPUTS.PASSWORD' | translate}}</label>
        <input
          #passwordControl="ngModel"
          [(ngModel)]="registerForm.password"
          required
          appStrongPassword
          name="password"
          type="password"
          class="form-control my-2"
          id="password"
          placeholder="{{'REGISTER.INPUTS.PASSWORD' | translate}}"
          appErrorMessage
        >
        <label for="confirmPassword">{{'REGISTER.INPUTS.CONFIRMPASSWORD' | translate}}</label>
        <input
          #confirmPasswordControl="ngModel"
          [(ngModel)]="registerForm.confirmPassword"
          required
          appCheckPassword="password"
          name="confirmPassword"
          type="password"
          class="form-control my-2"
          id="confirmPassword"
          placeholder="{{'REGISTER.INPUTS.CONFIRMPASSWORD' | translate}}"
          appErrorMessage
        />
        <div class="d-flex align-items-center gap-3">
          <button
            type="submit"
            class="btn btn-primary mt-3 ml-4"
          >
            {{'REGISTER.INPUTS.SUBMIT' | translate}}
          </button>
          <a [routerLink]="['/profile','login']" class="text-dark text-decoration-underline mt-3 ml-4">{{'REGISTER.REDIRECT' | translate}}</a>
        </div>
      </form>
    </div>
  </div>
</ng-container>
