<ng-container *ngIf="{
  isLoading: isLoading$ | async
  } as data">
  <div
    class="container"
    #modal
  >
    <div class="row h-100 d-flex align-items-center justify-content-center flex-column gap-2 py-2">
<!--      <app-error-card [error]="data.error"></app-error-card>-->
      <h2 class="text-center">Register</h2>
      <form
        #form="ngForm"
        class="col-md-6 col-12 form-group"
        (ngSubmit)="register(form)"
        [ngFormOptions]="{ updateOn: 'change' }"
        autocomplete="off"
      >
        <label for="login">Login</label>
        <input
          #loginControl="ngModel"
          [(ngModel)]="registerForm.login"
          required
          name="login"
          type="text"
          class="form-control my-2"
          id="login"
          placeholder="Login"
          appCheckNames
          appErrorMessage="login"
        >
        <label for="email">Email</label>
        <input
          #mailControl="ngModel"
          [(ngModel)]="registerForm.mail"
          required
          email
          name="mail"
          type="email"
          class="form-control my-2"
          id="email"
          placeholder="Email"
          appErrorMessage="mail"
        />
        <label for="restaurantName">Restaurant Name</label>
        <input
          #restaurantNameControl="ngModel"
          [(ngModel)]="registerForm.restaurantName"
          required
          name="restaurantName"
          type="text"
          class="form-control my-2"
          id="restaurantName"
          placeholder="Restaurant Name"
          appErrorMessage="restaurantName"
        />
        <label for="address">Address</label>
        <input
          #restaurantAddressControl="ngModel"
          [(ngModel)]="registerForm.restaurantAddress"
          required
          name="restaurantAddress"
          type="text"
          class="form-control my-2"
          id="address"
          placeholder="Address"
          appErrorMessage="restaurantAddress"
        />
        <label for="password">Password</label>
        <input
          #passwordControl="ngModel"
          [(ngModel)]="registerForm.password"
          required
          appStrongPassword
          name="password"
          type="password"
          class="form-control my-2"
          id="password"
          placeholder="Password"
          appErrorMessage="password"
        >
        <label for="confirmPassword">Confirm Password</label>
        <input
          #confirmPasswordControl="ngModel"
          [(ngModel)]="registerForm.confirmPassword"
          required
          appCheckPassword="password"
          name="confirmPassword"
          type="password"
          class="form-control my-2"
          id="confirmPassword"
          placeholder="Confirm Password"
          appErrorMessage="confirmPassword"
        />
        <div class="d-flex align-items-center gap-3">
          <button
            type="submit"
            class="btn btn-primary mt-3 ml-4"
          >
            Register
          </button>
          <a [routerLink]="['/profile','login']" class="text-dark text-decoration-underline mt-3 ml-4">Already have an
            account?</a>
        </div>
      </form>
    </div>
  </div>
</ng-container>
