<ng-container *ngIf="restaurant$ | async as restaurant">
  <div class="container">
    <div class="row h-100 p-4 overflow-auto gap-2">
      <div class="col-12 col-md-5 h-100">
        <img [src]="restaurant.image" class="img-fluid h-100 rounded object-fit-cover " alt="Responsive image"/>
      </div>
      <div class="col-12 col-md-6 h-100">
        <h2>{{restaurant.name}}</h2>
        <p>{{restaurant.description}}</p>
        <p>{{restaurant.address}}</p>
        <h2>{{'RESTAURANT.MENU.TITLE' | translate}}</h2>
        <div class="accordion" id="accordion">
          <div class="accordion-item" *ngFor="let dish of restaurant.menu">
            <app-restaurant-accordion [dish]="dish" (addItem)="addToCart($event)"></app-restaurant-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
