<ng-container *ngIf="{ isLoading: isLoading$ | async } as data">
  <div class="container">
    <div class="row d-flex align-items-center justify-content-center flex-column">
      <pre>{{ formValue | json }}</pre>
      <h2 class="text-center">Login</h2>

      <!--      ngNativeValidate-->
      <!--      ngNoForm-->
      <form
        #form="ngForm"
        class="col-md-6 col-12 form-group"
        (ngSubmit)="login(form, $event)"
        [ngFormOptions]="{ updateOn: 'change' }"
        autocomplete="off"
      >
        <label for="login">Login</label>
        <input
          #loginControl="ngModel"
          [(ngModel)]="formValue.login"
          [ngModelOptions]="{ name: 'login', updateOn: 'change' }"
          required
          [minlength]="3"
          [appBanWords]="bannedWords"

          type="text"
          class="form-control my-2"
          id="login"
          placeholder="Login"
        >
        <app-error-message [errors]="loginControl.errors" [dirty]="form.submitted || loginControl.dirty || loginControl.touched"/>
        <label for="password">Password</label>
        <!--        ngModel-->
        <!--        [ngModel]="formValue.password"-->
        <!--        (ngModelChange)="formValue.password = $event"-->
        <input
          #password="ngModel"
          [(ngModel)]="formValue.password"
          name="password"
          required

          type="password"
          class="form-control my-2"
          id="password"
          placeholder="Password"
        >
        <app-error-message [errors]="password.errors" [dirty]="form.submitted || password.dirty || password.touched"/>

        <label for="password2">Confirm password</label>
        <input
          #password2="ngModel"
          [(ngModel)]="formValue.password2"
          name="password2"
          required
          appCheckPassword="password"

          type="password"
          class="form-control my-2"
          id="password2"
          placeholder="Confirm password"
        >
        <app-error-message [errors]="password2.errors" [dirty]="form.submitted || password2.dirty || password2.touched"/>
<!--        &lt;!&ndash;        </ng-container>&ndash;&gt;-->

        <div class="d-flex align-items-center gap-3">
          <button type="submit" class="btn btn-primary mt-3 ml-4">
            Login
          </button>
          <a [routerLink]="['/profile','register']" class="text-dark text-decoration-underline mt-3 ml-4">
            Don't have an account?
          </a>
        </div>
      </form>
    </div>
  </div>
  <app-loading *ngIf="data.isLoading"></app-loading>
</ng-container>
