<div class="container p-4">
  <ng-container [ngSwitch]="isLogged$ | async">
    <div *ngSwitchCase="true">
      <div class="row">
        <div class="alert alert-info">
          <strong>{{'PROFILE.ALERTS.SUCCESS.TITLE' | translate}}</strong> {{'PROFILE.ALERTS.SUCCESS.SUBTITLE' | translate}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 d-flex justify-content-end">
          <a class="btn btn-primary" [routerLink]="'/profile'">{{'PROFILE.ALERTS.SUCCESS.REDIRECT.PROFILE' | translate}}</a>
        </div>
        <div class="col-md-6">
          <a class="btn btn-primary" (click)="logout()">{{'PROFILE.ALERTS.SUCCESS.REDIRECT.LOGOUT' | translate}}</a>
        </div>
      </div>
    </div>
    <div *ngSwitchDefault>
      <div class="row">
        <div class="alert alert-danger">
          <strong>{{'PROFILE.ALERTS.WARNING.TITLE' | translate}}</strong> {{'PROFILE.ALERTS.WARNING.SUBTITLE' | translate}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 d-flex justify-content-end">
          <a class="btn btn-primary" [routerLink]="'login'">{{'PROFILE.ALERTS.WARNING.REDIRECT.LOGIN' | translate}}</a>
        </div>
        <div class="col-md-6">
          <a class="btn btn-primary" [routerLink]="'register'">{{'PROFILE.ALERTS.WARNING.REDIRECT.REGISTER' | translate}}</a>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<router-outlet></router-outlet>
