.header{
  height: 10vh;
  &__menu{
    &__list{
      &-item{
        cursor: pointer;
        font-size: 1.2rem;
        position: relative;
        &::after{
          content: '';
          display: block;
          width: 100%;
          transform: scaleX(0);
          height: 1px;
          background: #ffffff;
          transition: all .3s ease-in-out;
          position: absolute;
          bottom: 0;
        }
        &:hover, &.active{
          &::after{
            transform: scaleX(1);
          }
        }

      }
    }
  }
}
ul{
  list-style-type: none;
}
