<div
  class="modal-wrapper"
  >
  <div class="modal__content">
    <div class="modal__content__header">
      <p class="modal__content__header-title">Error {{ error.status }}</p>
      <button
        class="btn modal__content__header-close"
        (click)="onCloseModal()"
      >
        <i class="bi bi-x modal__content__header-close-icon"></i>
      </button>
    </div>
    <div class="modal__content__description">
      <h3 class="modal__content__description-status">
        {{ error.statusText }}
      </h3>
      <p class="modal__content__description-text">
        {{ error.error.message }}
      </p>
    </div>
  </div>
</div>
