<div class="home container py-2">
  <div class="row h-100">
    <div class="col-6 px-3">
      <h1>Welcome to Menus</h1>
      <p>Menus is the best way to discover and order from your favorite restaurants. Whether you are looking for a cozy
        cafe, a spicy curry, or a gourmet pizza, Menus has it all. You can browse menus, read reviews, and place your
        order in just a few clicks. Plus, you can enjoy exclusive deals and discounts from our partner restaurants.
        Menus is fast, easy, and convenient. Try it today and see for yourself!</p>
      <a [routerLink]="'/restaurants'" class="btn btn-dark">See our list of restaurants</a>
    </div>
    <div class="col-6 h-100 px-3">
      <img src="assets/food.jpg" alt="food" class="img-fluid home-img rounded">
    </div>
  </div>
</div>
