@import "bootstrap/scss/bootstrap";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; box-sizing: border-box; overflow-x: hidden }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
a{
  text-decoration: none !important;
  color: #fff !important;
}

:root {
  --color-success: #4caf50;
  --color-error: #ff5722;
  --color-info: #449eff;
  --color-background: #eceff1;
  --color-text: #263238;
}

.ng-valid.ng-dirty:not(form) {
  border: 2px solid var(--color-success)!important;
}

.ng-invalid.ng-dirty:not(form), .ng-invalid.ng-touched:not(form) {
  border: 2px solid var(--color-error)!important;
}

