<ng-container *ngIf="{
  cart: cartItems$ | async,
  totalPrice: (cartItems$ | async) | getTotalCartPrice,
  isLoading: isLoading$ | async
} as data">
  <!--  checkout page-->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3>{{'CHECKOUT.TITLE' | translate}}</h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <h4>{{'CHECKOUT.ADDRESS' | translate}}</h4>
                <form #shippingForm="ngForm" (ngSubmit)="order(data, shippingForm)">
                  <div class="form-group">
                    <input
                      #name="ngModel"
                      type="text"
                      class="form-control my-2"
                      [(ngModel)]="shippingValue.name"
                      name="name"
                      placeholder="{{'CHECKOUT.INPUTS.NAME' | translate}}"
                      required
                      appErrorMessage
                    />
                    <input
                      #password="ngModel"
                      type="text"
                      class="form-control my-2"
                      [(ngModel)]="shippingValue.address"
                      placeholder="{{'CHECKOUT.INPUTS.ADDRESS' | translate}}"
                      name="address"
                      required
                      appErrorMessage
                    />
                    <input
                      #city="ngModel"
                      type="text"
                      class="form-control my-2"
                      [(ngModel)]="shippingValue.city"
                      placeholder="{{'CHECKOUT.INPUTS.CITY' | translate}}"
                      name="city"
                      required
                      appErrorMessage
                    />
                    <input
                      #country="ngModel"
                      type="text"
                      class="form-control my-2"
                      [(ngModel)]="shippingValue.country"
                      placeholder="{{'CHECKOUT.INPUTS.COUNTRY' | translate}}"
                      name="country"
                      required
                      appErrorMessage
                    />
                    <input
                      #zip="ngModel"
                      type="text"
                      class="form-control my-2"
                      [(ngModel)]="shippingValue.zip"
                      placeholder="{{'CHECKOUT.INPUTS.ZIP' | translate}}"
                      name="zip"
                      required
                      appErrorMessage
                    />
                  </div>
                </form>
              </div>
              <div class="col-md-6">
                <h4>{{'CHECKOUT.SUMMARY.TITLE' | translate}}</h4>
                <table class="table overflow-y-auto">
                  <thead>
                  <tr>
                    <th>{{'CHECKOUT.SUMMARY.PRODUCT' | translate}}</th>
                    <th>{{'CHECKOUT.SUMMARY.QUANTITY' | translate}}</th>
                    <th>{{'CHECKOUT.SUMMARY.PRICE' | translate}}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of data.cart">
                    <td>{{item.item.name}}</td>
                    <td>{{item.quantity}}</td>
                    <td>{{((item.item.price | getNumberPrice) * item.quantity) | currency}}</td>
                  </tr>
                  </tbody>
                </table>
                <div class="text-right
                ">
                  <h4>{{'CHECKOUT.SUMMARY.TOTAL' | translate}}: {{(data.totalPrice | currency)}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center my-3">
        <button class="btn btn-primary" (click)="order(data, shippingForm)">{{'CHECKOUT.ORDER' | translate}}</button>
      </div>
    </div>
  </div>
  <app-loading *ngIf="data.isLoading"></app-loading>
</ng-container>
